<div style="{% if block.settings.center %}text-align: center;{% endif %}">
      <div class="gsa-flex" style="{% if block.settings.center %}justify-content: center;{% endif %}">
          <span class="material-symbols-outlined">
              star
          </span>
          <span class="material-symbols-outlined">
              star
          </span>
          <span class="material-symbols-outlined">
              star
          </span>
          <span class="material-symbols-outlined">
              star
          </span>
          <span class="material-symbols-outlined">
              star_half
          </span>
      </div>
      <a href="{{ block.settings.reviews_link }}" class="gsa-text-sm" style="color: {{ block.settings.color }};"><strong>{{ block.settings.reviews_text }}</strong></a>
</div>       