.sl-brandstyle-69ef5726-0142-4eb6-b132-fb8decaca7a7 .sl-font-style--title {
font-family: Vollkorn;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-69ef5726-0142-4eb6-b132-fb8decaca7a7 .sl-font-style--body {
font-family: Nunito;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-69ef5726-0142-4eb6-b132-fb8decaca7a7 .sl-font-style--button {
font-family: Nunito;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-69ef5726-0142-4eb6-b132-fb8decaca7a7 .sl-font-style--label {
font-family: Nunito;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 {
background-color: #efe7e7;
border-style: none;
--sl-gv-bg-color: #efe7e7;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ff4a1c;
}
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 .sl-font-style--title { color: #111827; }
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 .sl-font-style--body { color: #111827; }
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 .sl-font-style--button { color: #ffffff; }
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 .sl-font-style--label { color: #111827; }
.sl-pattern-07ebb490-659f-46d1-a43b-b28759c969c1 .sl-button--brand-style {
color: #ffffff;
background-color: #ff4a1c;
}
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 {
background-color: #0b2d4a;
border-style: none;
--sl-gv-bg-color: #0b2d4a;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ff4a1c;
}
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 .sl-font-style--title { color: #111827; }
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 .sl-font-style--body { color: #ffffff; }
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 .sl-font-style--button { color: #ffffff; }
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 .sl-font-style--label { color: #ffffff; }
.sl-pattern-3c8021c0-acdd-4218-b8f5-ab38ec46a909 .sl-button--brand-style {
color: #ffffff;
background-color: #ff4a1c;
}
.sl-pattern-d25d3fb6-c261-46eb-8fd4-d056174e8236 {
background-color: #efe7e7;
border-style: none;
--sl-gv-bg-color: #efe7e7;
--sl-gv-btn-bg-color: #efe7e7;
}
.sl-pattern-d25d3fb6-c261-46eb-8fd4-d056174e8236 .sl-font-style--title { color: #000000; }
.sl-pattern-d25d3fb6-c261-46eb-8fd4-d056174e8236 .sl-font-style--body { color: #000000; }
.sl-pattern-d25d3fb6-c261-46eb-8fd4-d056174e8236 .sl-font-style--label { color: #000000; }
.sl-pattern-d25d3fb6-c261-46eb-8fd4-d056174e8236 .sl-button--brand-style {
background-color: #efe7e7;
}
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 {
background-color: #548687;
border-style: none;
--sl-gv-bg-color: #548687;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #efe7e7;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-font-style--title { color: #111827; }
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-font-style--body { color: #111827; }
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-font-style--button { color: #000000; }
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-font-style--label { color: #111827; }
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-button--brand-style {
color: #000000;
background-color: #efe7e7;
}
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-button--button-style { border: 2px solid; }
.sl-pattern-d3d7018a-68b7-478c-b409-753b318e1f29 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 {
background-color: #efe7e7;
border-style: none;
--sl-gv-bg-color: #efe7e7;
--sl-gv-btn-txt-color: #111827;
--sl-gv-btn-bg-color: #efe7e7;
}
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 .sl-font-style--title { color: #111827; }
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 .sl-font-style--body { color: #111827; }
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 .sl-font-style--button { color: #111827; }
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 .sl-font-style--label { color: #111827; }
.sl-pattern-18353018-0547-4d24-b831-ea2a977d6450 .sl-button--brand-style {
color: #111827;
background-color: #efe7e7;
}
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 {
background-color: #efe7e7;
border-style: none;
--sl-gv-bg-color: #efe7e7;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ff4a1c;
}
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 .sl-font-style--title { color: #111827; }
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 .sl-font-style--body { color: #111827; }
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 .sl-font-style--button { color: #ffffff; }
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 .sl-font-style--label { color: #111827; }
.sl-pattern-a5c6e485-99ad-4b2d-abda-67452ea17e62 .sl-button--brand-style {
color: #ffffff;
background-color: #ff4a1c;
}
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 {
background-color: #ff4a1c;
border-style: none;
--sl-gv-bg-color: #ff4a1c;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ff4a1c;
}
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 .sl-font-style--title { color: #ffffff; }
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 .sl-font-style--body { color: #ffffff; }
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 .sl-font-style--button { color: #ffffff; }
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 .sl-font-style--label { color: #ffffff; }
.sl-pattern-4432e478-ae5e-436d-90f4-d61e7c021e58 .sl-button--brand-style {
color: #ffffff;
background-color: #ff4a1c;
}
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 {
background-color: #efe7e7;
border-style: none;
--sl-gv-bg-color: #efe7e7;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ff4a1c;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-font-style--title { color: #111827; }
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-font-style--body { color: #111827; }
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-font-style--button { color: #ffffff; }
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-font-style--label { color: #111827; }
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-button--brand-style {
color: #ffffff;
background-color: #ff4a1c;
}
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-button--button-style { border: 2px solid; }
.sl-pattern-b733479c-2425-4c3f-84d4-23654b5aae06 .sl-button--border-radius { border-radius: 8px; }
